.section-features {
  /* padding: 100px 300px; */
  list-style: none;
}

.feature-items {
  display: flex;
  padding: 100px 300px;
  gap: 50px;
  justify-content: space-between;
}

.section-features img {
  width: 100px;
  height: 100px;
}
/* display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center; */
