/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 0;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  padding: 5rem;
  gap: 4rem;
  margin-bottom: 4rem;
  position: fixed;
  z-index: 1;
  /* background-color: aqua; */
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

li {
  list-style: none;
}
.nav-link {
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  position: relative;
  color: #eee;
}

.nav-link::after {
  content: "";
  position: absolute;
  background: #eee;
  height: 3px;
  bottom: 0;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 1s;
}

.nav-link:hover::after {
  width: 50%;
  transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 1s;
}
article {
  display: flex;
  justify-content: flex-start;
}

/* article.activeSlide {
  /* display: block; */
/* transform: translateX(0); 
} */
article.lastSlide {
  display: none;
  /* transform: translateX(-100%); */
}
article.nextSlide {
  display: none;
  /* transform: translateX(-100%); */
}
.img-box {
  width: 93%;
  height: 100%;
  position: relative;
}
.header-img {
  width: 100%;
  display: inline-block;
  line-height: 0;
  /* display: block; */
}

.text-box {
  /* padding: 15rem 7rem 0 7rem; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  flex-shrink: 2;
  position: relative;
  width: 100%;
  line-height: 1;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 18rem;
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 1rem;
  margin: 3rem 0 0 5rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.arrow-button svg {
  fill: transparent;
}

.arrow-button:hover,
.arrow-button svg:hover {
  color: hsl(0, 0%, 63%);
  fill: hsl(0, 0%, 63%);
}
.btn-div {
  position: absolute;
  bottom: 0px;
  line-height: 0;
}
.prev,
.next {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  height: 10rem;
  width: 9rem;
  background-color: black;
  letter-spacing: 0;
  line-height: 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.prev {
  background-image: url(./assets/images/icon-angle-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
}

.next {
  background-image: url(./assets/images/icon-angle-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
}

.next:hover,
.prev:hover {
  background-color: hsl(0, 0%, 63%);
}

.text-box p {
  color: hsl(0, 0%, 63%);
  display: inline-block;
  padding: 3rem 7rem 0 7rem;
}

.header-primary {
  padding: 15rem 7rem 0 7rem;
  font-size: 4.8rem;
  margin-bottom: 4rem;
}

p {
  font-size: 2rem;
  line-height: 1.2;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-box {
  padding: 5rem 3rem 0 3rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* flex-shrink: 50; */
  width: 40%;
}

.header-about {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}
.about-img {
  width: 100%;
}

.about-text {
  font-size: 1.6rem;
  line-height: 1.2;
  color: hsl(0, 0%, 63%);
}
